<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.css"/>  
    <title>Document</title>
</head>
<body>
    <h1>HOME</h1>
<h1>HELLO <%= user.charAt(0).toUpperCase() + user.slice(1) %> WELCOME TO AGRICULTURE COOPERATIVE BANKING
    YOU WILL BE GIVEN A ROLE IN A SHORT PERIOD, PLEASE WAIT A LITTLE.</h1>
    <a href="/members/login"> BACK </a>
</body>
</html>